<h1>Edit Log</h1>

<form method="POST">

<input type="number"
       name="sleep_hours"
       value="{{ row[2] }}">

<input type="number"
       name="study_hours"
       value="{{ row[3] }}">

<input type="number"
       name="exercise_hours"
       value="{{ row[4] }}">

<input type="number"
       name="screen_time"
       value="{{ row[5] }}">

<select name="mood_score">

<option>{{ row[6] }}</option>

<option>Happy</option>
<option>Normal</option>
<option>Sad</option>
<option>Stressed</option>

</select>

<button type="submit">
Update
</button>

</form>